@page "/hours"
@using System.Globalization
@inject HttpClient Http

<h1>Revit Hours</h1>
    <div class="container my-5">
        <div class="row">
            <div class="col">
                @if (data == null || viewdata == null)
                {
                <p><em>Loading...</em></p>
            }
            else
            {
                <RadzenCard Class="w-100 mb-4" >
                    <RadzenLabel Text="@totalhour.ToString("#.##")" Style="margin-left: 8px; vertical-align: middle;" />
                    <RadzenDatePicker TValue="DateTime?" DateFormat="d/MM/yyyy" DateRender=@DateRender Change=@(args => OnChange(args, "DatePicker with disabled dates", "MM/dd/yyyy")) Class="w-100" />
                </RadzenCard>
                <RadzenChart>
                    <RadzenAreaSeries Smooth="true" Data="@data" CategoryProperty="Time" LineType="LineType.Dashed" ValueProperty="Duration">
                    </RadzenAreaSeries>
                    <RadzenCategoryAxis Padding="20" Formatter="@FormatAsTime" >
                        <RadzenAxisTitle Text="Time (HH:mm)" />
                    </RadzenCategoryAxis>
                    <RadzenValueAxis Formatter="@FormatAsMinute">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Duration (minutes)" />
                    </RadzenValueAxis>
                </RadzenChart>
                <div class="col-sm-12 col-lg-6 offset-lg-3 my-5">
                    <RadzenChart>
                        <RadzenDonutSeries Data="@viewdata" CategoryProperty="View" ValueProperty="Duration">
                            <TitleTemplate>
                                <div class="rz-donut-content">
                                    <div>Top Active</div> 
                                    <div>Views</div>
                                </div>
                            </TitleTemplate>
                        </RadzenDonutSeries>
                        <RadzenValueAxis Formatter="@FormatAsMinute">
                            <RadzenAxisTitle Text="Duration (minutes)" />
                        </RadzenValueAxis>
                    </RadzenChart>
                </div>
            }
            </div>
        </div>
    </div>
@code {
    double totalhour = 0;

    public class Foo
    {
        public string Start { get; set; }
        public string End { get; set; }
        public double Duration { get; set; }
        public string User { get; set; }
        public string Entry { get; set; }
        public string File { get; set; }
        public double UID { get; set; }
        public string View { get; set; }
        public string Type { get; set; }
    }

    public class Pro
    {
        public string Time{ get; set; }
        public double Duration{ get; set; }
    }

    public class Views
    {
        public string View{ get; set; }
        public double Duration{ get; set; }
    }

    private Foo[]? rawdata;
    private Pro[]? data;
    private Views[]? viewdata;
    private List<DateTime> datelist = new();
    private string format = "d/MM/yyyy H:mm";

    protected override async Task OnInitializedAsync()
    {
        rawdata = await Http.GetFromJsonAsync<Foo[]>("sample-data/hourlog.json");

        //Sets up Date Range
        foreach(var raw in rawdata)
        {
            var rawDate = DateTime.ParseExact(raw.Start, format, CultureInfo.InvariantCulture).Date;
            if (datelist.Contains(rawDate))
                continue;
            else
                datelist.Add(rawDate);
        }

        RenderGraph(datelist[0]);
        RenderDonut(datelist[0]);
    }

    private void RenderGraph(DateTime? selectedTime)
    {
        var filteredlist = rawdata.Where(x => DateTime.ParseExact(x.Start, format, CultureInfo.InvariantCulture).Date == selectedTime);
        //Get 1st element to determine x-axis start
        var filteredstart = DateTime.ParseExact(filteredlist.First().Start, format, CultureInfo.InvariantCulture);
        var axisStart = Extensions.RoundDownToNearest30(filteredstart);
        //Get last element to determine x-axis end
        var filteredend = DateTime.ParseExact(filteredlist.Last().End, format, CultureInfo.InvariantCulture);
        var axisEnd = Extensions.RoundUpToNearest30(filteredend);

        //Sets up Data List with the correct x-axis
        var datalist = new List<Pro>();
        for(DateTime i = axisStart; i < axisEnd; i = i.AddMinutes(30))
        {
            datalist.Add(new Pro { Time = i.ToString("d/MM/yyyy H:mm"), Duration = 0 });
        }

        foreach(var x in datalist)
        {
            var xTime = DateTime.ParseExact(x.Time, format, CultureInfo.InvariantCulture);
            var xplus30 = xTime.AddMinutes(30);

            foreach(var raw in filteredlist)
            {
                var rawEnd = DateTime.ParseExact(raw.End, format, CultureInfo.InvariantCulture);
                if (rawEnd < xTime)
                    continue;

                var rawStart = DateTime.ParseExact(raw.Start, format, CultureInfo.InvariantCulture);
                if (rawStart > xplus30)
                    continue;

                if (rawStart < xTime)
                {
                    if (rawEnd >= xplus30)
                    {
                        x.Duration = 1800;
                        break;
                    }
                    else
                    {
                        var span = rawEnd.Subtract(xTime);
                        x.Duration += span.TotalSeconds;
                    }
                }
                else //if rawStart >= xTime
                {
                    if (rawEnd >= xplus30)
                    {
                        var span = xplus30.Subtract(rawStart);
                        x.Duration += span.TotalSeconds;
                        break;
                    }
                    else
                    {
                        var span = rawEnd.Subtract(rawStart);
                        x.Duration += span.TotalSeconds;
                    }
                }
            }

            totalhour += x.Duration/3600;
        }

        data = datalist.ToArray();
    }

    private void RenderDonut(DateTime? selectedTime)
    {
        var filteredlist = rawdata.Where(x => DateTime.ParseExact(x.Start, format, CultureInfo.InvariantCulture).Date == selectedTime);
        List<Views> viewdatas = new();
        List<string> viewlist = new();

        foreach(var data in filteredlist)
        {
            if (viewlist.Contains(data.View))
                continue;
            else
                viewlist.Add(data.View);
        }

        foreach(var view in viewlist)
        {
            var viewdurations = filteredlist.Where(v => v.View == view);
            double viewduration = 0;
            foreach (var v in viewdurations)
                viewduration += v.Duration;

            viewdatas.Add(new() { View = view, Duration = viewduration });
        }

        viewdata = viewdatas.ToArray();
    }

    string FormatAsMinute(object value)
    {
        return ((double)value/60).ToString("#.##");
    }

    string FormatAsTime(object value)
    {
        if (value != null)
        {
            return Convert.ToDateTime(value).ToString("HH:mm");
        }

        return string.Empty;
    }

    void DateRender(DateRenderEventArgs args)
    {
        args.Disabled = args.Disabled || !datelist.Contains(args.Date);
    }

    void OnChange(DateTime? value, string name, string format)
    {
        Console.WriteLine($"{name} value changed to {value?.ToString(format)}");
        try
        {
            totalhour = 0;
            RenderGraph(value?.Date);
            RenderDonut(value?.Date);
        }
        catch(Exception ex)
        {
            Console.WriteLine("Something's wrong?? " + ex.Message);
        }
    }
}