@page "/hours"
@using System.Globalization
@inject HttpClient Http

<style>
    .center {
      width: 100%;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .lds-ellipsis {
      position: relative;
      width: 76px;
      height: 80px;
      justify-content: center;
    }
    .lds-ellipsis div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #F40042;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @@keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @@keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @@keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }

    .rz-legend-item-text {
        font-size: small;
    }
    .rz-donut-content {
        font-size: small;
    }
    .rz-category-axis .rz-tick-text {
        font-size: small;
    }
    @@media only screen and (max-width: 1100px) {
        .rz-category-axis .rz-tick-text {
            visibility: hidden;
        }
    }
    @@media only screen and (min-width: 1200px) and (max-width: 1400px) {
        .rz-category-axis .rz-tick-text {
            visibility: hidden;
        }
    }
    @@media only screen and (max-width: 1500px) {
        .rz-category-axis .rz-tick-text {
            font-size: 0.7vw;
        }
    }
    @@media only screen and (max-width: 1650px) {
        .rz-category-axis .rz-tick-text {
            font-size: 0.8vw;
        }
    }

    .rz-column-series.rz-series-0 {
        transform-origin: 0 68%;

        animation-duration: 1s;
        animation-delay: 0s;
        animation-name: slideUpBars;

        -webkit-animation-timing-function: ease-in-out; /* Safari and Chrome */
        -moz-animation-timing-function: ease-in-out; /* Safari and Chrome */    
        -o-animation-timing-function: ease-in-out; /* Safari and Chrome */
        animation-timing-function: ease-in-out;
    }
    @@keyframes slideUpBars {
      0% {
        transform: scaleY(0);
      }
      100% {
        transform: scaleY(1);
      }
    }
</style>

<h1>Revit Hours</h1>
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <RadzenCard Class="w-100 mb-4" >
                    <RadzenLabel Text="@("Daily Revit Hours: " + dailyhour.ToString("#.##"))" Style="margin-left: 8px; vertical-align: middle;" />
                    <RadzenLabel Text="@("Weekly Revit Hours: " + weeklyhour.ToString("#.##"))" Style="margin-left: 8px; vertical-align: middle;" />
                    <RadzenDatePicker TValue="DateTime?" DateFormat="MMM dd" DateRender=@DateRender Change=@(args => OnChange(args, "DatePicker with disabled dates", "MM/dd/yyyy")) Class="w-100" />
                </RadzenCard>
                <div class="d-flex flex-column flex-xl-row">
                    <div class="col-12 col-xl-8 my-4 px-1">
                        @if (timedata == null)
                        {
                            <RadzenCard class="center">
                                <div class="lds-ellipsis d-flex"><div></div><div></div><div></div><div></div></div>
                            </RadzenCard>
                        }
                        else
                        {
                            <RadzenChart>
                                <RadzenAreaSeries Title="Minutes" Smooth="true" Data="@timedata" CategoryProperty="Time" LineType="LineType.Dashed" ValueProperty="Duration">
                                </RadzenAreaSeries>
                                <RadzenLegend Visible="false" />
                                <RadzenCategoryAxis Formatter="@FormatAsTime">
                                    <RadzenAxisTitle Text="Time (HH:mm)" />
                                </RadzenCategoryAxis>
                                <RadzenValueAxis Formatter="@FormatAsMinute">
                                    <RadzenGridLines Visible="true" />
                                    <RadzenAxisTitle Text="Duration (minutes)" />
                                </RadzenValueAxis>
                            </RadzenChart>
                        }
                    </div>
                    <div class="col-12 col-xl-4 my-4 px-1">
                        @if (viewdata == null)
                        {
                            <RadzenCard class="center">
                                <div class="lds-ellipsis d-flex"><div></div><div></div><div></div><div></div></div>
                            </RadzenCard>
                        }
                        else
                        {
                            <RadzenChart>
                                <RadzenDonutSeries Title="Minutes" Data="@viewdata" CategoryProperty="View" ValueProperty="Duration">
                                    <TitleTemplate>
                                        <div class="rz-donut-content">
                                            <div>Top 8</div> 
                                            <div>Active Views</div>
                                        </div>
                                    </TitleTemplate>
                                </RadzenDonutSeries>
                                <RadzenValueAxis Formatter="@FormatAsMinute">
                                    <RadzenAxisTitle Text="Duration (minutes)" />
                                </RadzenValueAxis>
                            </RadzenChart>
                        }
                    </div>
                </div>
                <div class="col-12 my-4 px-1">
                    @if(daydata == null)
                    {
                        <RadzenCard class="center">
                            <div class="lds-ellipsis d-flex"><div></div><div></div><div></div><div></div></div>
                        </RadzenCard>
                    }
                    else
                    {
                        <RadzenChart>
                            <RadzenColumnSeries Title="Hours" Data="@daydata" CategoryProperty="Day" ValueProperty="DurationDay" Fills=@barhighlight/>
                            <RadzenLegend Visible="false" />
                            <RadzenColumnOptions Radius="5" />
                            <RadzenCategoryAxis Padding="20" >
                                <RadzenAxisTitle Text="Date" />
                            </RadzenCategoryAxis>
                            <RadzenValueAxis Formatter="@FormatAsHour">
                                <RadzenGridLines Visible="true" />
                                <RadzenAxisTitle Text="Duration (hours)" />
                            </RadzenValueAxis>
                        </RadzenChart>
                    }
                </div>
            </div>
        </div>
    </div>
@code {
    double dailyhour = 0;
    double weeklyhour = 0;
    string[] barhighlight = new[] { "#0A8AE6", "#0A8AE6", "#0A8AE6", "#0A8AE6", "#0A8AE6", "#0A8AE6", "#0A8AE6" };

    public class RawData
    {
        public string Start { get; set; }
        public string End { get; set; }
        public double Duration { get; set; }
        public string User { get; set; }
        public string Entry { get; set; }
        public string File { get; set; }
        public double UID { get; set; }
        public string View { get; set; }
        public string Type { get; set; }
    }

    public class TimeData
    {
        public string Time{ get; set; }
        public double Duration{ get; set; }
    }

    public class Views
    {
        public string View{ get; set; }
        public double Duration{ get; set; }
    }

    public class DayData
    {
        public string Day { get; set; }
        public double DurationDay { get; set; }
    }

    public class WeekList
    {
        public DateTime StartWeek{ get; set; }
        public List<DateTime> WeekDates { get; set; }
    }

    private RawData[]? rawdata;
    private TimeData[]? timedata;
    private Views[]? viewdata;
    private DayData[]? daydata;
    private List<WeekList> weekList = new();
    private List<DateTime> datelist = new();
    private string format = "d/MM/yyyy H:mm";

    protected override async Task OnInitializedAsync()
    {
        rawdata = await Http.GetFromJsonAsync<RawData[]>("sample-data/hourlog.json");

        //Sets up Date Range
        foreach(var raw in rawdata)
        {
            var rawDate = DateTime.ParseExact(raw.Start, format, CultureInfo.InvariantCulture).Date;
            if (datelist.Contains(rawDate))
                continue;
            else
                datelist.Add(rawDate);
        }

        Task<TimeData[]?> areatask = RenderGraph(datelist.Last());
        Task<Views[]?> donuttask = RenderDonut(datelist.Last());
        Task<DayData[]?> bartask = RenderBar(datelist.Last());

        timedata = await areatask;
        viewdata = await donuttask;
        daydata = await bartask;
    }

    private async Task<TimeData[]?> RenderGraph(DateTime? selectedTime)
    {
        await Task.Delay(100); // Unblocks UI render
        var filteredlist = rawdata.Where(x => DateTime.ParseExact(x.Start, format, CultureInfo.InvariantCulture).Date == selectedTime);
        //Get 1st element to determine x-axis start
        var filteredstart = DateTime.ParseExact(filteredlist.First().Start, format, CultureInfo.InvariantCulture);
        var axisStart = Extensions.RoundDownToNearest30(filteredstart);
        //Get last element to determine x-axis end
        var filteredend = DateTime.ParseExact(filteredlist.Last().End, format, CultureInfo.InvariantCulture);
        var axisEnd = Extensions.RoundUpToNearest30(filteredend);

        //Sets up Data List with the correct x-axis
        var datalist = new List<TimeData>();
        for(DateTime i = axisStart; i < axisEnd; i = i.AddMinutes(30))
        {
            datalist.Add(new TimeData { Time = i.ToString("d/MM/yyyy H:mm"), Duration = 0 });
        }

        await Task.Delay(100); // Unblocks UI render
        foreach(var x in datalist)
        {
            var xTime = DateTime.ParseExact(x.Time, format, CultureInfo.InvariantCulture);
            var xplus30 = xTime.AddMinutes(30);

            foreach(var raw in filteredlist)
            {
                var rawEnd = DateTime.ParseExact(raw.End, format, CultureInfo.InvariantCulture);
                if (rawEnd < xTime)
                    continue;

                var rawStart = DateTime.ParseExact(raw.Start, format, CultureInfo.InvariantCulture);
                if (rawStart > xplus30)
                    continue;

                if (rawStart < xTime)
                {
                    if (rawEnd >= xplus30)
                    {
                        x.Duration = 1800;
                        break;
                    }
                    else
                    {
                        var span = rawEnd.Subtract(xTime);
                        x.Duration += span.TotalSeconds;
                    }
                }
                else //if rawStart >= xTime
                {
                    if (rawEnd >= xplus30)
                    {
                        var span = xplus30.Subtract(rawStart);
                        x.Duration += span.TotalSeconds;
                        break;
                    }
                    else
                    {
                        var span = rawEnd.Subtract(rawStart);
                        x.Duration += span.TotalSeconds;
                    }
                }
            }

            dailyhour += x.Duration/3600;
        }

        return datalist.ToArray();
    }

    private async Task<Views[]?> RenderDonut(DateTime? selectedTime)
    {
        await Task.Delay(100); // Unblocks UI render
        var filteredlist = rawdata.Where(x => DateTime.ParseExact(x.Start, format, CultureInfo.InvariantCulture).Date == selectedTime);
        List<Views> viewdatas = new();
        List<string> viewlist = new();

        await Task.Delay(100); // Unblocks UI render
        foreach(var data in filteredlist)
        {
            if (viewlist.Contains(data.View))
                continue;
            else
                viewlist.Add(data.View);
        }

        await Task.Delay(100); // Unblocks UI render
        foreach(var view in viewlist)
        {
            var viewdurations = filteredlist.Where(v => v.View == view);
            double viewduration = 0;
            foreach (var v in viewdurations)
                viewduration += v.Duration;

            viewdatas.Add(new() { View = view, Duration = viewduration });
        }

        return viewdatas.OrderByDescending(d => d.Duration).Take(8).ToArray();
    }

    private async Task<DayData[]?> RenderBar(DateTime? selectedDate)
    {
        await Task.Delay(100); // Unblocks UI render
        //Get 1st element to determine start
        var start = DateTime.ParseExact(rawdata.First().Start, format, CultureInfo.InvariantCulture);
        var startweek = Extensions.FirstDayOfWeek(start).Date;
        //Get last element to determine end
        var end = DateTime.ParseExact(rawdata.Last().End, format, CultureInfo.InvariantCulture);
        var endweek = Extensions.FirstDayOfWeek(end).Date;

        //Determine number of weeks
        int weeknum = endweek.Subtract(startweek).Days/7 + 1;

        //Sets up Week Range
        for(int w = 0; w < weeknum; w++)
        {
            var currentstartweek = startweek.AddDays(7*w);
            List<DateTime> oneweek = new();
            for(int i = 0; i < 7; i++)
                oneweek.Add(currentstartweek.AddDays(i));

            weekList.Add(new(){StartWeek = currentstartweek,WeekDates = oneweek});
        }

        // Sets bar chart highlight
        barhighlight = new[] { "#0A8AE6", "#0A8AE6", "#0A8AE6", "#0A8AE6", "#0A8AE6", "#0A8AE6", "#0A8AE6" };
        int dayint = (int)selectedDate.Value.DayOfWeek;
        barhighlight[dayint] = "#F40042";

        startweek = Extensions.FirstDayOfWeek(selectedDate.Value).Date;
        var selectedWeek = weekList.Find(d => d.StartWeek == startweek);
        List<DayData> datalist = new();
        foreach(var date in selectedWeek.WeekDates)
        {
            try
            {
                var filteredlist = rawdata.Where(x => DateTime.ParseExact(x.Start, format, CultureInfo.InvariantCulture).Date == date);

                double durationinday = 0;
                await Task.Delay(100); // Unblocks UI render
                foreach(var time in filteredlist)
                    durationinday += time.Duration;

                weeklyhour += durationinday/3600;

                datalist.Add(new() { Day = date.ToString("d/MM"), DurationDay = durationinday });

            }
            catch(Exception ex)
            {
                Console.WriteLine("There's no data on this date within the selected week: " + ex.Message);
            }

        }
        return datalist.ToArray();
    }

    string FormatAsMinute(object value)
    {
        return ((double)value/60).ToString("#.##");
    }

    string FormatAsHour(object value)
    {
        return ((double)value/3600).ToString("#.##");
    }

    string FormatAsTime(object value)
    {
        if (value != null)
        {
            DateTimeFormatInfo auDtfi = new CultureInfo("en-AU", false).DateTimeFormat;
            string result = Convert.ToDateTime(value, auDtfi).ToString("HH:mm");
            return result;
        }

        return string.Empty;
    }

    void DateRender(DateRenderEventArgs args)
    {
        args.Disabled = args.Disabled || !datelist.Contains(args.Date);
    }

    async Task OnChange(DateTime? value, string name, string format)
    {
        Console.WriteLine($"{name} value changed to {value?.ToString(format)}");
        try
        {
            // Display loaders
            timedata = null;
            viewdata = null;
            daydata = null;
            // Reset hours
            dailyhour = 0;
            weeklyhour = 0;
            // Replot graphs
            timedata = await RenderGraph(value?.Date);
            viewdata = await RenderDonut(value?.Date);
            daydata = await RenderBar(value?.Date);
        }
        catch(Exception ex)
        {
            Console.WriteLine("Something's wrong?? " + ex.Message);
        }
    }
}